@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceCodePro-Light.eot') format('embedded-opentype'),
         url('../fonts/SourceCodePro-Light.ttf.woff2') format('woff2'),
         url('../fonts/SourceCodePro-Light.otf.woff') format('woff'),
         url('../fonts/SourceCodePro-Light.otf') format('opentype'),
         url('../fonts/SourceCodePro-Light.ttf') format('truetype');
}

body {
	font-family: 'Source Code Pro';
	font-size: 12px;
	background-color: rgb(31,31,31);
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
	color: rgb(226,226,226);
    vertical-align: middle;
}

.listelement:hover {
	background-color: rgb(56,56,56);
}

.col0 {
    max-width: 50px;
}

tr:nth-child(uneven) {
	background-color: rgb(42,42,42);
}

tr:nth-child(even) {
	background-color: rgb(47,47,47);
}

thead {
	vertical-align: middle;
	background-color: rgb(33,33,33);
	color: rgb(149,149,149);
}

#oval {
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: calc(100% - 20px);
    height: auto ?;
    background-color: rgb(40,40,40);
}

h1 {
    color: rgb(255,255,255);
    font-family: 'Source Code Pro';
}

#editBox {
    visibility: hidden;
    position: absolute;
    border-radius: 15px;
    border-color: rgb(0,0,0);
    border-style: solid;
    border-width: 2px;
    margin: 0 auto;
    width: 600px;
    height: 200px;
    background-color: rgb(40,40,40);
    top: 50%;
    left: 50%;
    padding: 5px;
    margin: -100px 0 0 -300px;
    z-index: 1000;
    }

.page_selector_text {
    width: calc(100% - 50px);
}

.page_selector_td {
    width: 10px;
    cursor: pointer;
}

.page_selector_td:hover {
    background-color: rgb(50,50,50);
}

div .arrows {
    position: relative;
    top: 0;
    bottom: 0;
}

img .arrow_up {
    position: relative;
    top: 0;
    left: 0;
}

img .arrow_down {
    position: absolute;
    top: 5px;
    left: 0;
}

img .denied {
    position: absolute;
    top: 0px;
    right: 0px;
}