@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceCodePro-Light.eot') format('embedded-opentype'),
         url('../fonts/SourceCodePro-Light.ttf.woff2') format('woff2'),
         url('../fonts/SourceCodePro-Light.otf.woff') format('woff'),
         url('../fonts/SourceCodePro-Light.otf') format('opentype'),
         url('../fonts/SourceCodePro-Light.ttf') format('truetype');
}

body {
	font-family: 'Source Code Pro';
	font-size: 12px;
	background-color: rgb(31,31,31);
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
	color: rgb(226,226,226);
    vertical-align: middle;
}

.listelement_even {
    background-color: rgb(47,47,47);
}

.listelement_odd {
    background-color: rgb(42,42,42);
}

.listelement_even:hover {
	background-color: rgb(56,56,56);
}

.listelement_odd:hover {
	background-color: rgb(56,56,56);
}

.col_timeadded {
    min-width: 70px;
    max-width: 70px;
}


thead {
	vertical-align: middle;
	background-color: rgb(33,33,33);
	color: rgb(149,149,149);
}

#oval {
    position: relative;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: calc(100% - 20px);
    height: auto ?;
    background-color: rgb(40,40,40);
    top: 20px;
}

h1 {
    color: rgb(255,255,255);
    font-family: 'Source Code Pro';
}

#update {
	position: fixed;
	height: auto ?;
	width: 200px;
	left: calc(50% - 100px);
	top: 0;
	right: calc(50% + 100px);
	background-color: red;
	padding: 0px;
	margin: 0px;
	visibility: hidden;
	text-align: center;
}
#editBox {
    visibility: hidden;
    position: absolute;
    border-radius: 15px;
    border-color: rgb(0,0,0);
    border-style: solid;
    border-width: 2px;
    margin: 0 auto;
    width: 600px;
    height: 200px;
    background-color: rgb(40,40,40);
    top: 50%;
    left: 50%;
    padding: 5px;
    margin: -100px 0 0 -300px;
    z-index: 1000;
    }

.page_selector_text {
    width: calc(100% - 50px);
}

.page_selector_td {
    width: 10px;
    cursor: pointer;
}

.page_selector_td:hover {
    background-color: rgb(56,56,56);
}

.editpencil {
    width: 10px;
    height: 10px;
    cursor: pointer;
    float: right;
    margin: 0px;
    padding: 0px;
}

.arrows {
    position: relative;
    top: 0;
    bottom: 0;
    width: 26px;
    right: 0px;
}

.arrow_up {
    position: relative;
    top: 0;
    cursor: pointer;
}

.arrow_down {
    position: absolute;
    top: 5px;
    cursor: pointer;
}

.denied {
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.settings_footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
    text-align: center;
    vertical-align: middle;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: rgb(42,42,42);
}

ul.tab li {
    float: left;
}

ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {
    background-color: rgb(74,74,74);
}

ul.tab li a:focus, .active {
    background-color: rgb(85,85,85);
}

input.button {
    background-color: rgb(74,74,74);
    width: 100px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 30px;
    margin-top: 10px;
}

input.button:hover {
    background-color: rgb(85,85,85);
    cursor: pointer;
}

input.setting {
    background-color: rgb(74,74,74);
    color: rgb(255,255,255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0,0,0);
    width: calc(100% - 50px);
}

#header {
    background-color: transparent;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 25px;
    top: 0px;
    text-align: right;
    color: rgb(255,255,255);
}

.settingcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    background-color: rgb(47,47,47);
    color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    background-color: rgb(47,47,47);
    color: white;
}
